h1 {
    Color: darkseagreen;
}

body {
    background-image: url("https://vignette.wikia.nocookie.net/wow/images/5/55/Druid_crest.png/revision/latest?cb=20111119170709");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;

}

p {
    Color: darkgreen;
}

h3 {
    color: green;

}

h2 {
    color: forestgreen;

}

h4 {
    color: darkolivegreen;

}

th {
    color: darkgreen;
}

td {
    color: forestgreen;
}

tr {
    color: mediumseagreen;
}

table {
    margin: 25px 0 25px 0;
}
